body{
    background-color: rgb(224, 224, 224);
}
p{
    color: black;
}
table{
    width: 650px;
    background-color: rgb(92, 107, 123);
    border: 2px solid black;
    text-align: center;
}
.vil{
    background-color:  rgb(205, 219, 235) ;
}
.feher{
    background-color: white;
    text-align: left;
}
#mozgas{
    position: absolute;
    top: 350px;
    left: 520px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0 5px 0;
}
#koz{
    left: 170px;
    position: absolute;
}
